.page-common {
  height: 92vh; /* Adjust the height until the edge drawer */
  overflow: auto; /* When exceed the height, start scroll */
  text-align: center;
  justify-content: center;
  align-items: center;
}
